<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>LandZERØ</title>
    {% include 'common/head.html' %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <h3>LandZERØ</h3>
            <hr/>
        </div>
        <div class="col-md-12 text-center" style="padding-top: 280px; padding-bottom: 280px;">
            <h3 class="text-muted">网站还在建设中</h3>
        </div>
        {% include 'common/foot.html' %}
    </div>
</div>
{% include 'common/scripts.html' %}
</body>
</html>