<!DOCTYPE html>
<html>
<head>
    <title>零度之地 / LandZERO</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootswatch@4.4.1/dist/flatly/bootstrap.min.css"
          integrity="sha256-pDi62Uh4fExbhdqBRCLTXounDJkQWJVJ+07jIShHpe0=" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
          integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <h3>零度之地 / <small>LandZERO</small></h3>
            <hr/>
        </div>
        <div class="col-md-12 text-center" style="padding-top: 280px; padding-bottom: 280px;">
            <h3 class="text-muted">网站还在建设中</h3>
        </div>
        <div class="col-md-12 mt-4 mb-4 text-center">
            <hr/>
            <h5>
                <small class="text-muted"><a href="http://www.beian.miit.gov.cn"
                                             class="text-muted">京ICP备15056756号-1</a></small>
            </h5>
            <h5>
                <small class="text-muted">Copyright&nbsp;<i class="fa fa-copyright" aria-hidden="true"></i>&nbsp;2020&nbsp;landzero.net</small>
            </h5>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04=" crossorigin="anonymous"></script>
</body>
</html>