<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>LandZERØ</title>
    {% include 'common/head.html' %}
</head>
<body>
{% include 'common/header.html' %}
<div class="container">
    {% for post in posts %}
        <div class="row pt-5">
            <div class="col-md-4 text-lg-right">
                <h4 class="text-secondary">{{ post.timestamp | date:"Y/m/d" }}</h4>
            </div>
            <div class="col-md-8">
                <h4><a href="{% url 'view_post' post.slug %}">{{ post.title }}</a></h4>
            </div>
        </div>
    {% endfor %}
    <div class="row pt-5"></div>
</div>
{% include 'common/footer.html' %}
</body>
</html>