{% load i18n %}
{% load www_extra %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>LandZERØ / {% trans '登录' %}</title>
    {% include 'common/head.html' %}
</head>
<body>
{% include 'common/header.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4" style="padding-top: 6rem; padding-bottom: 6rem;">
            <div class="card border-primary">
                <div class="card-body text-center">
                    <h3 class="card-title">{% fa 'sign-in' %}&nbsp; {% trans '登录' %}</h3>
                </div>
                <div class="card-body">
                    <h5>{% fa 'qrcode' %}&nbsp; 关注微信公众号</h5>
                    <br/>
                    <h4 class="text-primary text-center text-monospace">landzeronet</h4>
                </div>
                <div class="card-body">
                    <h5>{% fa 'keyboard-o' %}&nbsp; 发送如下代码</h5>
                    <br/>
                    <h4 class="text-primary text-center text-monospace">L{{ login_code }}</h4>
                </div>
                <div class="card-body text-center">
                    <h5 class="text-muted">{% fa_spin 'refresh' %}&nbsp; 正在等待</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'common/footer.html' %}
<script>
    setInterval(function () {
        $.getJSON('/signed_in', function (data) {
            if (data.signed_in) {
                location.reload();
            }
        });
    }, 3000);
</script>
</body>
</html>