{% load i18n %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>LandZERØ / {% trans '登录' %}</title>
    {% include 'common/head.html' %}
</head>
<body>
{% include 'common/header.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <h3>{% trans '登录' %}</h3>
        </div>
        <div class="col-md-12 text-center" style="padding-top: 280px; padding-bottom: 280px;">
            <h3 class="text-muted">网站还在建设中</h3>
        </div>
    </div>
</div>
{% include 'common/footer.html' %}
</body>
</html>